{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2>{{ user.username }} Reservations</h2>
        <div class="reservation-list">
            {% for reservation in reservations %}
                <div class="reservation", style="margin: 1em 0;">
                    <p>Table: {{ reservation.table_id }}</p>
                    <p>Date: {{ reservation.date }}</p>
                    <p>Time Start: {{ reservation.time_start }}</p>
                    <p>Finish: {{ reservation.time_end }}</p>
                    <p>Number of guests: {{ reservation.num_people }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}