<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    {% if title %}
        <title>{{ title }} - Check The Restaurant</title>
    {% else %}
        <title>Check The Restaurant</title>
    {% endif %}
</head>
<body>
    <section class="content">
        {% if current_user.is_authenticated %}
            {% include "components/login-header.html" %}
        {% endif %}
        <div class="alert-box">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}
        {% include "components/footer.html" %}
    </section>
</body>
</html>