{% extends 'layout.html' %}
	
{% block content %}
	<div class="form">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="make-reservation">
				<legend class="">Make Reservation</legend>

				<div class="input">
					{{ form.num_people.label(class="") }}

					{% if form.num_people.errors%}
						{{ form.num_people(class="") }}
						<div class="">
							{% for error in form.num_people.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.num_people(class=" ") }}
					{% endif %}
				</div>
				
				<div class="input">
					{{ form.table_id.label(class="") }}

					{% if form.table_id.errors%}
						{{ form.table_id(class="") }}
						<div class="">
							{% for error in form.table_id.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.table_id(class=" ") }}
					{% endif %}
				</div>

				<div class="input">
					{{ form.date.label(class="") }}

					{% if form.date.errors%}
						{{ form.date(class="") }}
						<div class="">
							{% for error in form.date.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.date(class=" ") }}
					{% endif %}
				</div>

				
				<div class="input">
					{{ form.time_start.label(class="") }}

					{% if form.time_start.errors%}
						{{ form.time_start(class="") }}
						<div class="">
							{% for error in form.time_start.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.time_start(class=" ") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="submit">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}